{% if product.metafields.custom.diamond_weight %}
  <div class="custom-diamond-weight">
    <label>Diamond Weight:</label>
    <p>{{ product.metafields.custom.diamond_weight.value }}</p>
  </div>
{% endif %}