
    {%- liquid
      assign property_id = product.id | append: customization_option_3 | handleize
      assign property_name = customization_option_3 | escape
      assign property_value = property_name
      unless customization_option_hidden
        assign property_value = property_value | prepend: '_'
      endunless
    -%}
    <div class="product-form__input clearfix line-item-property__field">
      <label for="{{ property_id }}" class="form-label form__label">{{ property_name }}:</label>
      <input
        id="{{ property_id }}"
        type="text"
        name="properties[{{ property_value }}]"
        class="form__input form-input"
        placeholder="Plase enter Engraving for your ring"
      >
    </div>
